@import "tailwindcss";

@import "tailwindcss";

@theme inline {
  --breakpoint-sm: 395px;
  --breakpoint-md: 700px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1330px;
  --breakpoint-2xl: 1550px;
  --breakpoint-3xl: 1700px;
  --font-satoshi: "Satoshi", "sans-serif";
  --font-ubuntu: "Ubuntu", sans-serif;
  --font-syncopate: "Syncopate", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-loveLight: "Love Light", cursive;
}
/* checkbox */
.container-checkbox {
  cursor: pointer;
}
.container-checkbox input {
  display: none;
}
.container-checkbox svg {
  overflow: visible;
}
.path {
  fill: none;
  stroke: #0084d1;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}
.container-checkbox input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}
/* input-date */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  font-size: 1.5rem; 
}

/* Loader animation */
@keyframes square-animation {
 0% {
  left: 0;
  top: 0;
 }

 10.5% {
  left: 0;
  top: 0;
 }

 12.5% {
  left: 32px;
  top: 0;
 }

 23% {
  left: 32px;
  top: 0;
 }

 25% {
  left: 64px;
  top: 0;
 }

 35.5% {
  left: 64px;
  top: 0;
 }

 37.5% {
  left: 64px;
  top: 32px;
 }

 48% {
  left: 64px;
  top: 32px;
 }

 50% {
  left: 32px;
  top: 32px;
 }

 60.5% {
  left: 32px;
  top: 32px;
 }

 62.5% {
  left: 32px;
  top: 64px;
 }

 73% {
  left: 32px;
  top: 64px;
 }

 75% {
  left: 0;
  top: 64px;
 }

 85.5% {
  left: 0;
  top: 64px;
 }

 87.5% {
  left: 0;
  top: 32px;
 }

 98% {
  left: 0;
  top: 32px;
 }

 100% {
  left: 0;
  top: 0;
 }
}

.loader {
 position: relative;
 width: 96px;
 height: 96px;
 transform: rotate(45deg);
}

.loader-square {
 position: absolute;
 top: 0;
 left: 0;
 width: 28px;
 height: 28px;
 margin: 2px;
 border-radius: 0px;
 background: white;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
 animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
 animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
 animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
 animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
 animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
 animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
 animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
 animation-delay: -10s;
}
/* Btn-nav */
#btn-nav {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;

  outline: 0;
  border: 0;
}

#btn-nav:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

#btn-nav:hover:before {
  background-color: #fff;
  width: 3rem;
}